# Managing User Exam Results
## Table of Contents
- [Managing User Exam Results](#managing-user-exam-results)
  - [Table of Contents](#table-of-contents)
  - [Viewing User Exam Results](#viewing-user-exam-results)

## Viewing User Exam Results

To review the results of a user's exam, follow these steps:

1. Browse or search for the user whose exam results you want to review.

   ![User Exam Results](/docs/images/view-user-results-page.png)

2. Click the "Info Icon" to access user results details.

   ![User Exam Results](/docs/images/result-info-icon.png)

3. In the user's exam results page, you can find detailed information about their exam performance.

   ![User Exam Results](/docs/images/result-detail.png)

4. You can see scores, analysis, and any additional insights related to the user's exam.

[Go Back to Previous Section](/docs/manual/admin/README.md)
